*{
    margin: 0;
    padding: 0;
}

html, body {
    height:100%;
} 

html{
    scroll-behavior: smooth;
}

#grid{
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: auto;
}

header{
    padding: 10px;
    background-color: #F7F7F7;
    box-shadow: 0 2px 4px 0 rgba(0,0,0,.2);
}

.gradiente{
    background-image: linear-gradient(rgb(6, 99, 136), rgb(3, 8, 70));
}

.header__title{
    display: flex;
    align-items: center;
}

.header__title img{
    width: 150px;
    height: 150px;
}

.header__title span{
    font-family: 'Quicksand', sans-serif;
    font-size: large;
}   


.header__menu__nav__ul{
    display: flex;
    justify-content: space-between;
    list-style: none;
    font-family: 'Noto Sans', sans-serif;
    
}

.header__menu__nav__ul li:hover{
    transform: scale(1.050);
}

.header__menu__nav__ul li a{
    text-decoration: none;
    padding: 5px 5px;
    font-size: 0.75rem;
    color: rgb(54, 20, 20) ;
}

.header__menu__nav__ul li a:visited{
    color: rgb(54, 20, 20);
}

.header__menu__nav__ul li a:hover{
    color: rgb(105, 103, 103);

}

.header__menu__nav__ul li a:active{
    color:#0000FF
}

.icono__subir {
    width: 50px;
    height: 50px;
    position: fixed;
    right: 20px;
    top: 90vh;
    z-index: 90;
  }
  
  .icono__subir img {
    opacity: 50%;
  }
  
  .icono__subir img:hover {
    opacity: 100%;
  }

.main__title__h3{
    margin: 10px 0px;
    font-family: 'Noto Sans', sans-serif;
    font-size: 1.5rem;
    font-weight: bold;
    color: black;
}

.backgroundImage{
    height: 250px;
    background-repeat: no-repeat;
    background-size: cover;
    background-color:  #464646;
    background-image: url(https://i.ibb.co/Wc3pz1V/wallpaperbetter-com-1920x1080.jpg);
}

.backgroundImage h1{
    color: rgb(255, 241, 255);
    margin-left: 20px;
    padding-top: 30px;
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 1.5rem;
}

.title{
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 10px 0px;
    font-family: 'Noto Sans', sans-serif;
    font-size: 20px;
}

.main__texto{
    padding: 0px 5px;
    margin: 0px 10px;
    text-align: justify;
    font-family: 'Noto Sans', sans-serif;
}

.main__examples{
    margin-top: 10px;
}

.grid__main{
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: repeat(6, auto);
    grid-template-areas: "box1" "box4" "box2" "box5" "box3" "box6";
}

.grid__main div img{
    width: 100%;
}

.grid__main div p {
    text-align: justify;
    margin: 0px 5px 10px 5px;
}

.box-1{
    grid-area: box1;
}

.box-2{
    grid-area: box2;
}

.box-3{
    grid-area: box3;
}

.box-4{
    grid-area: box4;
}

.box-5{
    grid-area: box5;
}

.box-6{
    grid-area: box6;
}

.main__aplications{
    margin-top: 5px;
    background-color: #C7DCF3;
    padding-bottom: 30px;

}

.main__aplications h3{
    text-align: center;
    font-family: 'Noto Sans', sans-serif;
    font-size: 2rem;
    padding-top: 15px;
    margin-top: 15px;
}

.main__aplications hr{
    border: 0;
    height: 1px;
    margin-bottom: 10px;
    background-image: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0));
}

.main__aplications__examples{
    margin: 0px 10px 0px 10px;
    text-align: center;
}

.footer{
    background-color: #2F3033;
    color: blanchedalmond;
    display: grid;
    grid-template-rows: 1fr;
    grid-gap: 1rem 6rem;
    justify-content: center;
    padding-top: 80px;
    padding-bottom: 60px;
}

.footer__h4{
    margin-bottom: 10px;
}

.footer__img{
    height: 40px;
    width: 40px;
}

.footer__ul{
    padding-left: 0rem;
    list-style: none;
}

.footer__ul li{
    margin: 10px 0px;
}

.footer__ul li a{
    text-decoration: none;
    color: blanchedalmond;
}


@media screen and (min-width: 768px) {

    #grid{
        display: grid;
        grid-template-columns: 2fr 1fr;
    }

    .header__title{
        display: flex;
        align-items: center;
    }
    
    .header__title span{
        font-size: 2rem;
    }

    .header__menu{
        display: flex;
        align-items: flex-end;
    }
    
    .header__menu__nav__ul li a{
        font-size: 1.25rem;
    }

    .main__title__h3{
        margin: 10px 0px;
        font-family: 'Noto Sans', sans-serif;
        font-size: 2.5rem;
    }

    .backgroundImage{
        height: 400px;
    }

    .grid__main{
        grid-template-columns: repeat(3, 1fr);
        grid-gap: 1rem;
    }

    .box-1{
        grid-column: 1/1;
        grid-row: 1/1;
    }

    .box-1:hover{
        transform: scale(1.050);
    }
    
    .box-2{
        grid-column: 2/3;
        grid-row: 1/2;
    }

    .box-2:hover{
        transform: scale(1.050);
    }
    
    .box-3{
        grid-column: 3/3;
        grid-row: 1/2;
    }

    .box-3:hover{
        transform: scale(1.050);
    }
    
    .box-4{
        grid-column: 1/1;
        grid-row: 2/2;
    }
    
    .box-5{
        grid-column: 2/3;
        grid-row: 2/2;
    }
    
    .box-6{
        grid-column: 3/3;
        grid-row: 2/2;
    }
    
    .footer{
        background-color: #2F3033;
        color: blanchedalmond;
        display: grid;
        grid-template-columns: 300px 300px;
        grid-gap: 1rem 6rem;
        justify-content: center;
        padding-top: 80px;

    }

}

@media screen and (min-width: 1024px){
    .header__title span{
        font-size: 60px;
    }

    .header__menu__nav__ul li a{
        font-size: 1.75rem;
    }

    .backgroundImage{
        height: 600px;
        background-position: center center;
        background-repeat: no-repeat;
        background-size: cover;
        background-color:  #464646;
    }

    .backgroundImage h1{
        font-size: 50px;
    }

    .main__title-h3{
        font-size: 30px;
    }

    .grid__main{
        display: grid;
        grid-template-columns: 300px 300px 300px;
        grid-gap: 1rem 3rem;
        justify-content: center;
        margin-top: 20px;
    }

    

    .main__texto{
        padding: 0px 10px;
        margin: 0px 20px;
        text-align: justify;
        font-family: 'Noto Sans', sans-serif;
    }
    
    .grid__main div p{
    text-align: justify;
    font-family: 'Open Sans', sans-serif;
    font-weight: bold;
}

}

/** css galeria  **/

.galeria__body{
    background-color: #f79092;
}

.galeria__grid__main img{
    height: 300px;
    width: 300px;
}

.galeria__grid__main img:hover{
    transform: scale(1.050);
}

.galeria__h1{
    font-family: 'Noto Sans', sans-serif;
    margin:5px 0px 20px 10px;
}

.galeria__grid__main{
    display: grid;
    grid-template-rows: repeat(16, 300px);
    grid-gap: 1rem;
    justify-items: center;    
    margin-bottom: 15px;
}

@media screen and (min-width: 768px) {

    .galeria__grid__main{
        grid-template-columns: repeat(2, 300px);
        grid-template-rows: repeat(8, 300px);
        justify-content: center;
    }
    
}

@media screen and (min-width: 1024px) {
    
    .galeria__grid__main{
        grid-template-columns: repeat(3, 300px);
        grid-template-rows: repeat(4, 300px);
        justify-content: center;
    }

}


/** css nosotros **/

.nosotros__body{
    background-color: #8BB8A8;
}

.nosotros__main{
    font-family: 'Noto Sans', sans-serif;
    margin: 15px 25px 5px 25px;
    text-align: justify;    
}

.nosotros__main div{
    margin-bottom: 10px;
}

.nosotros__map{
    width: 100%;
    padding-top: 20px;
}

.galeria__bottom{
    text-align: center;
    font-family: 'Noto Sans', sans-serif;
    margin-bottom: 30px;
}



/** css insumos **/

.insumos__title{
    font-family: 'Noto Sans', sans-serif;
    margin: 2px 0px 10px 0px;
}

.insumos__title h2{
    text-align: center;
}

.insumos__title p{
    margin: 0px 10px 15px 10px;
}

.insumos__main__grid{
    font-family: 'Noto Sans', sans-serif;
}

.insumos__h4{
    margin-left: 25px;
    font-family: 'Noto Sans', sans-serif;
    margin-top: 20px;
}

.insumos__main__grid img{
    width: 150px;
    height: 150px;
}

.insumos__main__grid{
    display: grid;
    grid-template-columns: repeat(2, 150px);
    justify-content: center;
    justify-items: center;
    margin-bottom: 35px;
}

@media screen and (min-width: 768px) {

    .insumos__main__grid{
        grid-template-columns: repeat(2, 300px);
        justify-content: center;
    }
    
}

@media screen and (min-width: 1024px) {
    
    .insumos__main__grid{
        grid-template-columns: repeat(4, 300px);
    }
    
    .insumos__h4{
        margin-left: 25px;
        font-family: 'Noto Sans', sans-serif;
        margin-top: 20px;
        margin-bottom: 35px;
    }
}




/** css contacto **/

.contacto__main{
    font-family: 'Noto Sans', sans-serif;
    margin: 10px 10px 10px 10px;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
    justify-items: center;
}

.contacto__section{
    margin: 10px 15px 25px 15px;
}

.formulario__items{
    margin: 10px 0px;
}

.formulario{
    margin: 5px 0px 25px 10px;
}

.h4__interes{
    padding-top: 10px;
    margin-bottom: 8px;
}

.formulario__imagen img{
    width: 250px;
    height: 250px;
    border-radius: 2%;
    
}

.formulario__imagen img:hover{
    transform: scale(1.050);
}

@-webkit-keyframes hvr-buzz {
    50% {
      -webkit-transform: translateX(3px) rotate(2deg);
      transform: translateX(3px) rotate(2deg);
    }
    100% {
      -webkit-transform: translateX(-3px) rotate(-2deg);
      transform: translateX(-3px) rotate(-2deg);
    }
  }
  @keyframes hvr-buzz {
    50% {
      -webkit-transform: translateX(3px) rotate(2deg);
      transform: translateX(3px) rotate(2deg);
    }
    100% {
      -webkit-transform: translateX(-3px) rotate(-2deg);
      transform: translateX(-3px) rotate(-2deg);
    }
  }
  .hvr-buzz {
    display: inline-block;
    vertical-align: middle;
    -webkit-transform: perspective(1px) translateZ(0);
    transform: perspective(1px) translateZ(0);
    box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  }
  .hvr-buzz:hover, .hvr-buzz:focus, .hvr-buzz:active {
    -webkit-animation-name: hvr-buzz;
    animation-name: hvr-buzz;
    -webkit-animation-duration: 0.15s;
    animation-duration: 0.15s;
    -webkit-animation-timing-function: linear;
    animation-timing-function: linear;
    -webkit-animation-iteration-count: infinite;
    animation-iteration-count: infinite;
  }

@media screen and (min-width: 768px){
    .contacto__main{
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr;
        align-items: center;
    }

    .formulario__imagen img{
        width: 350px;
        height: 350px;
    }
   

}